@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'portabletext.css';

html,
body,
#__next {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

ol,
ul {
  margin-left: 1rem;
}

ol {
  list-style-type: disc;
}
