@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

p:not(:last-child) {
  margin-bottom: 0.875rem;
}

ol,
ul {
  margin-left: 1rem;
}

ol {
  list-style-type: disc;
}

.portableText {
  @apply text-xl leading-relaxed;
}

.portableText p,
.portableText ul,
.portableText ol,
.portableText blockquote {
  @apply mb-5;
}

.portableText h1 {
  @apply mb-4 text-5xl leading-snug;
}

.portableText h2 {
  @apply mb-4 text-4xl leading-snug;
}

.portableText h3 {
  @apply mb-4 text-3xl leading-snug;
}

.portableText h4 {
  @apply mb-4 text-2xl leading-snug;
}

.portableText a {
  @apply text-blue-500 underline;
}
.portableText a:hover {
  @apply text-blue-800;
}

.portableText ul li {
  @apply list-disc;
}

.portableText ol li {
  @apply list-decimal;
}

.portableText code {
  @apply bg-gray-100 px-1 text-lg text-gray-800;
}

.portableText blockquote {
  @apply border-l-4 border-gray-200 pl-4;
}
