.portableText {
  @apply text-xl leading-relaxed;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.portableText p,
.portableText ul,
.portableText ol,
.portableText blockquote {
  @apply mb-6;
}

.portableText h1 {
  @apply mb-8 text-5xl font-bold leading-tight;
}

.portableText h2 {
  @apply mb-6 text-4xl font-bold leading-tight;
}

.portableText h3 {
  @apply mb-5 text-3xl font-bold leading-tight;
}

.portableText h4 {
  @apply mb-4 text-2xl font-bold leading-tight;
}

.portableText h5 {
  @apply mb-3 text-xl font-bold leading-tight;
}

.portableText h6 {
  @apply mb-2 text-lg leading-tight;
}

.portableText ul li {
  @apply ml-6 list-disc;
}

.portableText ol li {
  @apply ml-6 list-decimal;
}

.portableText code {
  @apply rounded-md bg-zinc-100 px-2 py-1 text-sm text-zinc-800;
}

.portableText blockquote {
  @apply border-l-4 border-zinc-300 pl-5 italic text-zinc-800;
}
